.currentColor {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 5px
}

.input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.label {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
    outline: none;
    transition: all .3s;
    cursor: pointer;
    transform: translateY(0px);
}

.label:hover {
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.3);
    transition: all .3s;
    transform: translateY(0px);
}

.label:active {
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,.3);
    background-color: #eee;
    transform: translateY(2px);
    transition: all .3s;
}